
ul{
list-style: none;
}

.nav-items-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

section{
    width: 50%;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}